# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
.nyc_output/
runner-results/

# Playwright
playwright/.auth/
playwright/.env.test.local
/playwright-report/
/test-results/

# production
/build

# misc
.DS_Store
.env
.env.local
.env.*.local
next-env.d.ts

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.next

# Incremental builds`
tsconfig.tsbuildinfo

# Script data
scripts/requirements.ts
scripts/*.csv

# Generated documentation
docs/
