# Deploys the payment service.

service: chess-dojo-payment
frameworkVersion: '3'

plugins:
  - serverless-plugin-custom-roles
  - serverless-go-plugin

provider:
  name: aws
  runtime: provided.al2
  architecture: arm64
  region: us-east-1
  logRetentionInDays: 30
  environment:
    stage: ${sls:stage}
  httpApi:
    id: ${param:httpApiId}

custom:
  go:
    binDir: bin
    cmd: GOARCH=arm64 GOOS=linux go build -tags lambda.norpc -ldflags="-s -w"
    supportedRuntimes: ['provided.al2']
    buildProvidedRuntimeAsBootstrap: true

functions:
  webhook:
    handler: webhook/main.go
    events:
      - httpApi:
          path: /payment/webhook
          method: post
    iamRoleStatements:
      - Effect: Allow
        Action:
          - dynamodb:GetItem
          - dynamodb:UpdateItem
        Resource: ${param:UsersTableArn}
      - Effect: Allow
        Action:
          - secretsmanager:GetSecretValue
        Resource:
          - arn:aws:secretsmanager:${aws:region}:${aws:accountId}:secret:chess-dojo-${sls:stage}-stripeKey-*
          - arn:aws:secretsmanager:${aws:region}:${aws:accountId}:secret:chess-dojo-${sls:stage}-stripeEndpoint-*

  subscriptionCheckout:
    handler: subscription/checkout/main.go
    events:
      - httpApi:
          path: /subscription/checkout
          method: post
          authorizer:
            type: jwt
            id: ${param:apiAuthorizer}
    environment:
      frontendHost: ${file(../config-${sls:stage}.yml):frontendHost}
      monthlyPriceId: ${file(../config-${sls:stage}.yml):monthlySubscriptionPriceId}
      yearlyPriceId: ${file(../config-${sls:stage}.yml):yearlySubscriptionPriceId}
    iamRoleStatements:
      - Effect: Allow
        Action:
          - dynamodb:GetItem
        Resource: ${param:UsersTableArn}
      - Effect: Allow
        Action:
          - secretsmanager:GetSecretValue
        Resource:
          - arn:aws:secretsmanager:${aws:region}:${aws:accountId}:secret:chess-dojo-${sls:stage}-stripeKey-*

  subscriptionManage:
    handler: subscription/manage/main.go
    events:
      - httpApi:
          path: /subscription/manage
          method: post
          authorizer:
            type: jwt
            id: ${param:apiAuthorizer}
    environment:
      frontendHost: ${file(../config-${sls:stage}.yml):frontendHost}
    iamRoleStatements:
      - Effect: Allow
        Action:
          - dynamodb:GetItem
        Resource: ${param:UsersTableArn}
      - Effect: Allow
        Action:
          - secretsmanager:GetSecretValue
        Resource:
          - arn:aws:secretsmanager:${aws:region}:${aws:accountId}:secret:chess-dojo-${sls:stage}-stripeKey-*

  syncPurchases:
    handler: purchases/sync/main.go
    events:
      - httpApi:
          path: /purchases/sync
          method: post
          authorizer:
            type: jwt
            id: ${param:apiAuthorizer}
    iamRoleStatements:
      - Effect: Allow
        Action:
          - dynamodb:GetItem
          - dynamodb:UpdateItem
        Resource: ${param:UsersTableArn}
      - Effect: Allow
        Action:
          - secretsmanager:GetSecretValue
        Resource:
          - arn:aws:secretsmanager:${aws:region}:${aws:accountId}:secret:chess-dojo-${sls:stage}-stripeKey-*
