body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

div #board {
    width: 100% !important;
    grid-template-columns: calc(min(500px, 100%)) !important;
    grid-template-rows: 0px auto calc(min(500px, 100vw - 32px)) 37px 200px !important;
    grid-template-areas:
        'gameSelect'
        'error'
        'board'
        'button'
        'tools';
}

div #board #boardGames {
    grid-area: gameSelect;
}

div #board #boardError {
    grid-area: error;
}

div #board .outerBoard #boardInner {
    height: auto !important;
    aspect-ratio: 1 !important;
    width: 100% !important;
}

div #board .outerBoard {
    grid-area: board;
}

div #board .outerBoard .boardAnd {
    display: flex;
    justify-content: center;
}

div #board #boardMoves {
    grid-area: tools;
    color: inherit;
}

div #board #boardButton {
    grid-area: button;
}

div#board.dark move-number {
    background: var(--gray-800);
}

div#board.dark span.comment.timeNormal {
    background: none;
    color: rgba(255, 255, 255, 0.7);
}

div#board.dark .variation span.comment.afterComment {
    background: none;
    color: rgba(255, 255, 255, 0.7);
}

div#board.dark span.comment {
    color: rgba(255, 255, 255, 0.9);
    background: var(--gray-800);
}

div#board.dark move san:hover {
    color: var(--gray-800);
}

@media screen and (min-width: 600px) {
    div #board {
        grid-template-rows: 0px auto calc(min(500px, 100vw - 48px)) 37px 200px !important;
    }
}

@media screen and (min-width: 900px) {
    div #board {
        grid-template-columns: 63% 37% !important;
        grid-template-rows: 0px auto calc((100vw - 48px) * 0.42) 37px !important;
        grid-template-areas:
            'gameSelect gameSelect'
            'error error'
            'board tools'
            'button .';
    }
}

@media screen and (min-width: 1200px) {
    div #board {
        grid-template-rows: 0px auto calc((min(1536px, 100vw) - 48px) * 0.4725) 37px !important;
    }
}
