name: Cypress Tests

on: push

jobs:
  cypress-run:
    timeout-minutes: 30
    runs-on: ubuntu-22.04
    needs: install
    # strategy:
    #   fail-fast: false # https://github.com/cypress-io/github-action/issues/48
    #   matrix:
    #     containers: [1, 2, 3] # Uses parallel instances
    steps:
      - name: Prepare Frontend
        working-directory: frontend
        run: npm ci

      - name: Cypress Run
        uses: cypress-io/github-action@v6
        with:
          working-directory: frontend
          build: npx cypress info
          start: npm run dev
          wait-on: 'http://localhost:3000'
          wait-on-timeout: 300
          record: true
          # parallel: true # Runs test in parallel using settings above
        env:
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          AWS_COGNITO_USERNAME: ${{ secrets.AWS_COGNITO_USERNAME }}
          AWS_COGNITO_PASSWORD: ${{ secrets.AWS_COGNITO_PASSWORD }}
          AWS_COGNITO_REGION: 'us-east-1'
          AWS_COGNITO_USER_POOL_ID: 'us-east-1_apywr6kwu'
          AWS_COGNITO_USER_POOL_WEB_CLIENT_ID: '76en8knncv8bfpfgbheua6j6k'
          AWS_COGNITO_DOMAIN: 'user-pool-domain-dev-chess-dojo-scheduler.auth.us-east-1.amazoncognito.com'
