name: Cypress Tests

on: push

jobs:
  install:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Prepare Common
        working-directory: common
        run: npm ci

      - name: Build
        uses: cypress-io/github-action@v6
        with:
          runTests: false
          working-directory: frontend
          build: npm run build

      - name: Save Build Folder
        uses: actions/upload-artifact@v4
        with:
          name: build
          path: frontend/build
          if-no-files-found: error

  cypress-run:
    timeout-minutes: 30
    runs-on: ubuntu-22.04
    needs: install
    # strategy:
    #   fail-fast: false # https://github.com/cypress-io/github-action/issues/48
    #   matrix:
    #     containers: [1, 2, 3] # Uses parallel instances
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download Build Folder
        uses: actions/download-artifact@v4
        with:
          name: build
          path: frontend/build

      - name: Prepare Common
        working-directory: common
        run: npm ci

      - name: Cypress Run
        uses: cypress-io/github-action@v6
        with:
          working-directory: frontend
          build: npx cypress info
          start: npm start
          wait-on: 'http://localhost:3000'
          wait-on-timeout: 300
          record: true
          # parallel: true # Runs test in parallel using settings above
        env:
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          AWS_COGNITO_USERNAME: ${{ secrets.AWS_COGNITO_USERNAME }}
          AWS_COGNITO_PASSWORD: ${{ secrets.AWS_COGNITO_PASSWORD }}
          AWS_COGNITO_REGION: 'us-east-1'
          AWS_COGNITO_USER_POOL_ID: 'us-east-1_apywr6kwu'
          AWS_COGNITO_USER_POOL_WEB_CLIENT_ID: '76en8knncv8bfpfgbheua6j6k'
          AWS_COGNITO_DOMAIN: 'user-pool-domain-dev-chess-dojo-scheduler.auth.us-east-1.amazoncognito.com'
      
      - name: Check Coverage
        working-directory: frontend
        run: npx nyc report --reporter=text-summary
      
      - name: Upload Coverage Report
        uses: actions/upload-artifact@v4
        with:
          name: coverage
          path: frontend/coverage
